.trackRow {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-row-gap: 40px;
  grid-gap: 40px;
  padding: 4em;
}

.trackRow__info {
  margin-left: 20px;
}

.trackRow__info > h1 {
  color: #fdfdfd;
  font-size: 16px;
}

.trackRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.trackRow__album {
  height: 160px;
  width: 160px;
}
.up{
  display: flex;
  align-items: center;
}
.down { 
  display: flex;
  align-items: center;
}